/*
  This is the hexagon part
*/
@keyframes draw {
  100% {
    stroke-dashoffset: 0;
  }
}

.shape{
  stroke: #64b9ee;
  stroke-width: 5px;
  stroke-dashoffset: 1000;
  stroke-dasharray: 1000;
  stroke-linecap: round;
  animation: 0.75s draw linear forwards;
}

/*
  Now is the point part
*/ 

@keyframes pop {
  100% {
    opacity: 1;
  }
}

circle {
  fill: #edcf2e;
  animation-name: pop;
  animation-duration: 0.5s;
  
  opacity: 0;
  animation-fill-mode: forwards;
  transition: ease 0.5s r;
}

circle#st-lo {
  animation-delay: 1s;
}

circle#rennes {
  animation-delay: 3s;
}

circle#suisse {
  animation-delay: 5s;
}

circle#st-brieuc {
  animation-delay: 7s;
}

/*
  And now the thin line from places to places
*/
@keyframes draw-line {
  100% {
    stroke-dashoffset: 0;    
  }
}

line {
  stroke: #edcf2e;
  stroke-width: 2px;
  stroke-linecap: round;
  
  animation-name: draw-line;
  animation-duration: 2.5s;
  animation-fill-mode: forwards;
  aniamtion-timing-function: ease-out;
}

line#from-1-to-2 {
  stroke-dashoffset: 30;
  stroke-dasharray: 30;
  animation-delay:1s;
}

line#from-2-to-3 {
  stroke-dashoffset: 190;
  stroke-dasharray: 190;
  animation-delay:3s;
}

line#from-3-to-4 {
  stroke-dashoffset: 220;
  stroke-dasharray: 220;
  animation-delay:5s;
}


